h1{
	text-align: center;
	color: white;
	font-size:70px;
}
header{
	padding:1em;
	color:red;
	background-color: pink;
	clear:white;
	text-align:center;
}
/* img{
	display:block;
	margin: 0 auto;
	float:left;
} */
nav{
	max-width:160px;
	border-style:solid;
	border-width:2px;
	border-color:DeepSkyBlue;
	background-color: pink;
}
article{
	padding: 5px;
	margin-left: 170px;
	overflow: hidden;
}
#aboutme{
	text-align:center;
	font-family: "Times New Roman", Times, serif;
	font-style:italic;
	padding-left: 170px;
	}

.mySlides{
	/**display:none;**/
	display:inline-block;
	position: relative;
	left:100px;
	width:400px;
	height:400px;
	padding-left:100px;
}

.left{
	
}

.right{
	
}